.mailpoet_image_block {

  img {
    vertical-align: bottom;
    max-width: 100%;
    height: auto;
  }

  &.mailpoet_full_image {
    padding: 0;
    margin: auto;
  }

  .mailpoet_content  {
    margin: auto;
    max-width: 100%;
    min-width: 36px;

    a:hover {
      cursor: all-scroll;
    }
  }
}
